.App {
    font-family: sans-serif;
    text-align: center;
    background-color: aqua;
}

.red button {
    background: red;
    color: white;
}

.blue button {
    background: blue;
    color: white;
}